html, body {
  margin: 0;
  padding: 0;
}

p, p a {
  font-family: Arial, sans-serif;
  filter: blur(10px);
  font-size: 1em;
  color: blue; 
  text-decoration: none;
}



#myCanvas {
  display: block;
  margin: auto;
  width: 200px; 
  height: 200px; 
  border: 2px solid blue;
  opacity: 0%;
}
